extends ./../layout

block content
	include ./../navbar.pug
	div.container
		-for(var i=0; i<dados.length; i++){
			-function string(valor){
				-return valor.toFixed(2).toString().replace(".", ",");
			-}
			div.col-xs-6.col-md-3.col-sm-6
				a(href="#").thumbnail
					img(src="../images/livros/"+dados[i].capa+".jpg")
					p= dados[i].titulo
					p= dados[i].autor
					-var valorFixo = dados[i].preço;
					-var desconto = 20/100;
					-var valorOferta = valorFixo-(valorFixo*desconto);
					h3 R$ #{string(valorOferta)}
					p.valor-fixo R$ #{string(valorFixo)}
					h5 #{desconto*100}% de desconto
		-}