div(data-id=dados[i].isbn, data-categ=dados[i].categoria, data-autor=dados[i].autor, data-editora=dados[i].editora).grid.col-md-4.col-lg-4.col-sm-6.isbn

	figure.effect-terry
		div.desconto
		img(src=("../images/livros/"+dados[i].capa+".jpg"))
		div.infoCatalogo
			h2.tagsNome.col-md-7.box-book #{dados[i].titulo}
				br
				span= dados[i].autor
			-var valor = (parseFloat(dados[i].valor).toFixed(2).toString().replace('.',','));
			h2.tagsPreco.col-md-5.box-book R$ #{valor}
		figcaption.col-md-12
			p
				a
					-if(dados[i].favorito==false){
						i.glyphicon.glyphicon-heart-empty.wish
					-}
					-else if(dados[i].favorito==true){
						i.glyphicon.glyphicon-heart.wish
					-}
				a 
					-if(dados[i].carrinho==false){
						i.glyphicon.glyphicon-shopping-cart.cart.cart-empty
					-}
					-else if(dados[i].carrinho==true){
						i.glyphicon.glyphicon-shopping-cart.cart.cart-full
					-}
				a.box-book 
					i.glyphicon.glyphicon-info-sign