div(data-id=dados[i].isbn, data-categ=dados[i].categoria).grid.col-md-4.col-lg-4.col-sm-6.isbn
	figure.effect-terry
		img(src=("../images/livros/"+dados[i].capa+".jpg"))
		div.infoCatalogo
			h2.tagsNome.col-md-7.box-book #{dados[i].titulo}
				br
				span= dados[i].autor
			h2.tagsPreco.col-md-5.box-book R$ #{dados[i].preço}
		figcaption.col-md-12
			p
				a
					i.glyphicon.glyphicon-heart-empty.wish
				a 
					i.glyphicon.glyphicon-shopping-cart.cart
				a.box-book 
					i.glyphicon.glyphicon-info-sign