extends ./../layout

block content
	include ./../navbar.pug
	div.container#carrinho
		h2.titulo-pg Carrinho de compras
		table.table
			thead
				tr
					th
					th Produto
					th Título
					th Preço
					th Quantidade
					th
					th
			tbody
				-for(var i=0; i<dados.length; i++){
					-if(dados[i].carrinho == true){
						tr.isbn.rowTab(data-id=dados[i].isbn)
							td
								img(src="../images/livros/"+dados[i].capa+".jpg", height="100px").box-book
							td.isbn(data-isbn=dados[i].isbn)= dados[i].isbn
							td= dados[i].titulo
							td.valor(data-valor=dados[i].valor)
								h4 R$ #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
							td
								input(type="number", min="1", max=dados[i].estoque, value="1").quantidade
							td 
								i(data-id=""+dados[i].isbn+"").glyphicon.glyphicon-remove.cart.btn-table
							td 
								-if(dados[i].favorito==false){
									i.glyphicon.glyphicon-heart-empty.wish.btn-table
								-}
								-else if(dados[i].favorito==true){
									i.glyphicon.glyphicon-heart.wish.btn-table
								-}
					-}
				-}
				tr
					td(align="right", colspan="7").valorTotal 
		button.btn.btn-primary#comprar Comprar