extends layout

block content
	include navbar.pug
	div.index-bg
		div.section
			div.container
				div.row
					div.col-md-3
						a(href="#mais-vendidos")
							div.ring
								span.content Mais vendidos
								span.obs Os produtos mais queridos
									br
									|pelos usuários
					div.col-md-3
						a(href="#promocoes")
							div.ring
								span.content Promoções
								span.obs Veja os produtos em promoção
									br 
									|Descontos de até 30%
					div.col-md-3
						a(href="#colecoes")
							div.ring
								span.content Coleções
								span.obs Não perca as novas séries de livros
					div.col-md-3
						a(href="../catalogo/desejo")
							div.ring
								span.content Desejos
								span.obs Crie uma lista de desejos e 
									br
									|saiba quando houverem descontos
		div.container-index
			div.index.container
				div.col-md-12#mais-vendidos
					h3 Mais Vendidos
					div.row
						-for(i in dados){
							-if(dados[i].vendidos>0){
								div.col-md-3.box-thumb
									a(href="/catalogo/produto/"+dados[i].isbn)
										div.thumbnail.relacionados
											img(src="../../images/livros/"+dados[i].capa+".jpg")
											-if(dados[i].desconto!=0){
												div.desconto #{dados[i].desconto}% de desconto
											-}
											div.caption
												h4= dados[i].titulo
												p= dados[i].autor
												-if(dados[i].desconto==0){
													h5.price R$ #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
												-}else{
													h5.price R$ #{parseFloat(dados[i].valor-(dados[i].valor*(dados[i].desconto/100))).toFixed(2).toString().replace('.',',')}
													h6 R$
														strike #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
												-}

							-}
						-}
				div.col-md-12#promocoes
					h3 Promoções
					div.row
						-for(i in dados){
							-if(dados[i].desconto!=0){
								div.col-md-3.box-thumb
									a(href="/catalogo/produto/"+dados[i].isbn)
										div.thumbnail.relacionados
											img(src="../../images/livros/"+dados[i].capa+".jpg")
											-if(dados[i].desconto!=0){
												div.desconto #{dados[i].desconto}% de desconto
											-}
											div.caption
												h4= dados[i].titulo
												p= dados[i].autor
												-if(dados[i].desconto==0){
													h5.price R$ #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
												-}else{
													h5.price R$ #{parseFloat(dados[i].valor-(dados[i].valor*(dados[i].desconto/100))).toFixed(2).toString().replace('.',',')}
													h6 R$
														strike #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
												-}

							-}
						-}
				div.col-md-12#colecoes
					h3 Coleções
					div.row
						-for(i in dados){
							-if(dados[i].categoria=='Coleção'){
								div.col-md-3.box-thumb
									a(href="/catalogo/produto/"+dados[i].isbn)
										div.thumbnail.relacionados
											img(src="../../images/livros/"+dados[i].capa+".jpg")
											-if(dados[i].desconto!=0){
												div.desconto #{dados[i].desconto}% de desconto
											-}
											div.caption
												h4= dados[i].titulo
												p= dados[i].autor
												-if(dados[i].desconto==0){
													h5.price R$ #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
												-}else{
													h5.price R$ #{parseFloat(dados[i].valor-(dados[i].valor*(dados[i].desconto/100))).toFixed(2).toString().replace('.',',')}
													h6 R$
														strike #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
												-}

							-}
						-}

