extends layout

block content
	include navbar.pug
	#myCarousel.carousel.slide(data-ride='carousel').col-md-12
		.carousel-inner
			.item.active
				a(href='/catalogo/desejo')
					img(src='../images/wallpaper.jpg')
					.carousel-caption
						h3 Lista de Desejos
						p Não perca nenhuma oferta! Adicione livros à sua lista de desejos e receba notificações quando houverem descontos.
			.item
				a(href='#mais-vendidos')
					img(src='../images/books5.jpg')
					.carousel-caption
						h3 Mais Vendidos
						p Confira a lista de livros que mais são comprados pelos usuários
			.item
				a(href="#promocoes")
					img(src='../images/books2.jpg')
					.carousel-caption
						h3 Promoções
						p Veja os produtos que estão em promoção!
			.item
				a(href="#colecoes")
					img(src='../images/books.jpg')
					.carousel-caption
						h3 Coleções
						p Novas séries de livros toda semana
			.item
				a(href="/catalogo")
					img(src='../images/books8.jpg')
					.carousel-caption
						h3 Catálogo de livros
						p Nosso catálogo contém livros de diversas categorias. Confira!
  
		ul.nav.nav-pills.nav-justified
			li.active(data-target='#myCarousel', data-slide-to='0')
				a(href='#') 
			li(data-target='#myCarousel', data-slide-to='1')
				a(href='#') 
			li(data-target='#myCarousel', data-slide-to='2')
				a(href='#') 
			li(data-target='#myCarousel', data-slide-to='3')
				a(href='#') 
			li(data-target='#myCarousel', data-slide-to='4')
				a(href='#') 
	div.container-index
		div.index.container
			div.col-md-12#mais-vendidos
				h3 Mais Vendidos
				div.row
					-for(i in dados){
						-if(dados[i].vendidos>0){
							div.col-md-3.box-thumb
								a(href="/catalogo/produto/"+dados[i].isbn)
									div.thumbnail.relacionados
										img(src="../../images/livros/"+dados[i].capa+".jpg")
										-if(dados[i].desconto!=0){
											div.desconto #{dados[i].desconto}% de desconto
										-}
										div.caption
											h4= dados[i].titulo
											p= dados[i].autor
											-if(dados[i].desconto==0){
												h5.price R$ #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
											-}else{
												h5.price R$ #{parseFloat(dados[i].valor-(dados[i].valor*(dados[i].desconto/100))).toFixed(2).toString().replace('.',',')}
												h6 R$
													strike #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
											-}

						-}
					-}
			div.col-md-12#promocoes
				h3 Promoções
				div.row
					-for(i in dados){
						-if(dados[i].desconto!=0){
							div.col-md-3.box-thumb
								a(href="/catalogo/produto/"+dados[i].isbn)
									div.thumbnail.relacionados
										img(src="../../images/livros/"+dados[i].capa+".jpg")
										-if(dados[i].desconto!=0){
											div.desconto #{dados[i].desconto}% de desconto
										-}
										div.caption
											h4= dados[i].titulo
											p= dados[i].autor
											-if(dados[i].desconto==0){
												h5.price R$ #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
											-}else{
												h5.price R$ #{parseFloat(dados[i].valor-(dados[i].valor*(dados[i].desconto/100))).toFixed(2).toString().replace('.',',')}
												h6 R$
													strike #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
											-}

						-}
					-}
			div.col-md-12#colecoes
				h3 Coleções
				div.row
					-for(i in dados){
						-if(dados[i].categoria=='Coleção'){
							div.col-md-3.box-thumb
								a(href="/catalogo/produto/"+dados[i].isbn)
									div.thumbnail.relacionados
										img(src="../../images/livros/"+dados[i].capa+".jpg")
										-if(dados[i].desconto!=0){
											div.desconto #{dados[i].desconto}% de desconto
										-}
										div.caption
											h4= dados[i].titulo
											p= dados[i].autor
											-if(dados[i].desconto==0){
												h5.price R$ #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
											-}else{
												h5.price R$ #{parseFloat(dados[i].valor-(dados[i].valor*(dados[i].desconto/100))).toFixed(2).toString().replace('.',',')}
												h6 R$
													strike #{parseFloat(dados[i].valor).toFixed(2).toString().replace('.',',')}
											-}

						-}
					-}

